
body { 
    font-family: Arial, sans-serif; 
    margin: 20px; 
    background-color: #f4f4f4;
}

.profile-container {
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    align-items: flex-start; /* Added to ensure elements align to the top */
}

.photo {
    width: 25%; /* This will ensure the photo container takes up 25% of the width */
    margin-right: 20px; 
    align-self: center;
}

/* Image Styling */
.photo img {
    float: left;  /* Align the image to the left */
    margin-right: 20px; /* Space between image and text */
    border-radius: 5%; /* Optionally add rounded corners */
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1); /* Optional shadow for a polished look */
    max-width: 250px; /* Adjust width as desired */
}

/* Text Styling */
.profile-container {
    font-family: 'Arial', sans-serif; /* You can choose another font if preferred */
    border: none;
}

.profile-container h1, .profile-container h2 {
    margin: 0; /* Removes default margins */
}

.profile-container h2 {
    margin-left: 20px;  /* Adjust this value as needed */
}

.profile-container p {
    margin-top: 0;
    margin-bottom: 1em; /* Spacing between paragraphs */
}


.info-section {
    width: 75%; /* This will ensure the text container takes up 75% of the width */
}

.info, .research-topics, .research-details { 
    padding: 10px 0;
}

h1, h2 { 
    color: #333; 
}

p { 
    color: #666; 
}
