body { 
    font-family: Arial, sans-serif; 
    margin: 20px; 
    background-color: #f4f4f4;
}

.profile-container {
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    align-items: flex-start; /* Added to ensure elements align to the top */
}

.photo {
    width: 25%; /* This will ensure the photo container takes up 25% of the width */
    margin-right: 20px; 
    align-self: center;
}

.photo img { 
    width: 100%; /* This will make the image scale responsively to the container size */
    border: none;
    padding: 0;
    max-width: 250px; /* This limits the image width */
    max-height: 300px; /* This limits the image height */
}

.info-section {
    width: 75%; /* This will ensure the text container takes up 75% of the width */
}

.info, .research-topics, .research-details { 
    padding: 10px 0;
}

h1, h2 { 
    color: #333; 
}

p { 
    color: #666; 
}
